body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212529;
    color: #fff;
}

.center {
    text-align: center;
    padding: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px;
}

.search-input {
    margin: 5px;
    display: flex;
    align-items: center;
}

/* 文字輸入框樣式 */
#machine_number, #model, #size, #feeder {
    border: 0;
    border-radius: 7px;
    padding: 8px;
    font-size: 14px;
}

label,
input {
    margin-right: 5px;
}

.search-button {
    margin-top: 10px;
}

/* 表格外容器樣式 */
.tables-container {
    display: flex;
    justify-content: center;
}

/* 表格樣式 */
.table {
    background-color: #343a40;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 20px;
    /* overflow: auto; */
}

table {
    width: 90vw;
    border-collapse: collapse;
}

.table-header {
    position: fixed; /* 將表格標頭固定定位 */
    top: 0; /* 距離頂部的距離 */
    background-color: #343a40;
    width: 100%;
    z-index: 1; /* 確保表格標頭在最上層 */
}

.table-content {
    margin-top: 40px; /* 表格內容與標頭的距離 */
    /* overflow: auto; */
}


th,
td {
    padding: 10px;
    border-bottom: 1px solid #495057;
    text-align: left;
    color: #fff;
}

th {
    background-color: #212529;
}

th:hover{
    cursor: pointer;
}

/* 按鈕樣式 */
button:hover {
    background-color: #0056b3;
}

/* 行懸停樣式 */
tr:hover {
    background-color: #1e68b375;
    color: #fff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    font-size: 14px;
    font-family: "Microsoft JhengHei", Arial, sans-serif;
}

/* 鏈接樣式 */
a {
    color: #00c3ff;
    text-decoration: none;
}

a:visited {
    color: #00d9ff;
}

a:hover {
    color: #f861df;
    text-decoration: underline;
}

/* 點擊行樣式 */
#tr1:hover {
    cursor: pointer;
}

.sort-arrow {
    margin-left: 3px;
    font-size: 10px;
    opacity: 0.5;
    /* transition: transform 0.1s; */
}

th[data-sort]:hover .sort-arrow {
    opacity: 1;
}

th[data-sort].asc .sort-arrow {
    transform: rotate(180deg);
}

th[data-sort].desc .sort-arrow {
    transform: rotate(0deg);
}

